body {
  background: #E5E3E0;
  font-family: 'Jost', sans-serif;
  text-align: center;
}


.the-main {
  margin: 60px auto;
  background: rgba(179, 121, 138, 0.04);
  border-radius: 20px;
  max-width: 600px;
}

#login-container {
  height: 340px;
  width: 320px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.06);
}

.login-for-access {
  font-family: 'Jost', sans-serif;
  color: #DDA556;
  font-size: 30px;
}

#login-button {
  font-family: 'Jost', sans-serif;
  border: none;
  font-size: 18px;
  color: white;
  width: 140px;
  border-radius: 32px;
  background: #DDA556;
  box-shadow: inset -5px 5px 10px #c2914c,
    inset 5px -5px 10px #f8b960;
}

#login-button:hover {
  color: #DDA556;
  background: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

footer {
  text-align: center;
  font-size: 14px;
  color: grey;
  font-family: 'Jost', sans-serif;
}


a:visited {
    color: #B3798A;
  
}

a {
  color: rgba(179, 121, 138, 0.7);
  text-decoration: none;
}

.coded-by {
  margin: 0 auto 30px 0;
  padding: 40px;
}

#user-icon {
  font-size: 13px;
  border: none;
  color: #DDA556;
}


#lock-icon {
  font-size: 13px;
  border: none;
  color: #DDA556;
}

#eye {
  font-size: 13px;
  border: none;
  color: #DDA556;
}

#username {
  font-weight: 300;
}

#password {
  font-weight: 300;
}

.register-group {
  font-size: 13px;
  font-weight:200;
}

#register {
  color: #DDA556;
}

#register:hover {
  color: #463215;
}


#remember-me {
  font-weight: 200;
  font-size: 13px;
}

.form-check-input {
  background: rgba(248, 185, 96, 0.4);
  border: 1.2px solid #f8b960;
}

.form-check-label {
  font-size: 11px;
}